h1 {
  background-color: grey;
  height: 100px;
  position: relative;
}

#blue-box {
  height: 50px;
  width: 50px;
  background-color: blue;
  position: absolute;
  left: 25px;
  bottom: 25px;
}

h2 {
  padding: 50px;
}

h3 {
  background-color: blue;
  height: 175px;
}

h4 {
  height: 175px;
  background-color: aqua;
  display: flex;
  justify-content: end;
  align-items: end;
}

h5 {
  height: 175px;
  background-color: burlywood;
}

h6 {
  height: 175px;
  background-color: yellow;
}

#circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  position: fixed;
}